/logs
/logs/*.txt
/logs/*.png
Manifest.toml
Project.toml
Spline_int_logs/
Spline_int_logs2/
Spline_int_logs3/
*.txt
Half_Spline_int_logs_078/
Half_Spline_int_logs4_077
full_restriction_078/
Spline_int_logs4_077/
Spline_int_logs5_078/
*.jld2
*.pdf